{% extends "base.html" %}

{% block content %}

{% include "list/stats.html" %}

<br>

<a href="{{ url_for('game_add')}}" class="btn btn-success">New</a>
<a href="{{ url_for('game_import')}}" class="btn btn-primary">Import</a>

{% include "list/filter.html" %}
{% include "list/edit.html" %}

<form id="gamelist" action="" method="post">
<table id="data" class="table table-striped">
<thead>
    <tr>
    <th><input id="select-all" type="checkbox"></th>
    <th>Game</th>
    <th>Platform</th>
    <th>Completion</th>
    <th>Achievements</th>
    <th>Priority</th>
    <th>Notes</th>
    </tr>
</thead>
<tbody>
    {% for game in all_games %}
    <tr class="game">
        <td>
            <input form="editform" name="selected" value="{{game.id}}" type="checkbox">
        </td>
        <td>
            <a href="{{ url_for ('game_detail', id=game.id) }}">{{ game.name }}</a>
        </td>
        <td>
            <a class="plainlink" href="{{ url_for('all_games', platform=game.platform) }}">{{ game.platform }}</a>
        </td>
        <td>
            <div class="badge badge-{{ game.completion.name.lower() }}">
                <a class="plainlink" href="{{ url_for('all_games', completion=game.completion.value) }}">{{ game.completion.name }}</a>
            </div>
        </td>
        <td>
            {% if game.cheev > 0 %}
                <div>
                    <progress id="cheev_prog" max="{{ game.cheev_total }}" value="{{ game.cheev }}"></progress>
                    {{ game.cheev }} / {{ game.cheev_total }}
                    🏆
                </div>
            {% else %}
            {% endif %}
        </td>
        <td>
            <a class="plainlink" href="{{ url_for('all_games', priority=game.priority.value) }}">{{ game.priority.name }}</a>
        </td>
        <td>
            {% if game.notes %}
                <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#notesModal">View</button>
                <!--input type="button" class="btn btn-secondary" id="notesButton" data-name="{{game.name}}" data-toggle="modal" data-target="#notesModal" value="View"/-->
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</form>

<div class="modal" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Notes</h5>
      </div>
      <div class="modal-body">
        <div id="modalNotes"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{%endblock%}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        paging: false,
        layout: {
            topEnd: null,
            bottomEnd: 'paging'
        },
        order: [[2, 'asc']],
        columns: [
          {orderable: false, searchable: false},
          {orderable: true, searchable: true},
          {orderable: true, searchable: true},
          {orderable: true, searchable: true},
          {orderable: true, searchable: true},
          {orderable: true, searchable: false},
          {orderable: true, searchable: false},
        ],
      });
    });

    $('#select-all').click(function(event) {   
        if(this.checked) {
            $(':checkbox').each(function() {
                this.checked = true;                        
            });
        } else {
            $(':checkbox').each(function() {
                this.checked = false;                       
            });
        }
    }); 

    $(document).on('show.bs.modal','#notesModal', function () {
        alert('hi');
    })

    $(document).ready(
        console.log($("#notesModal"))
    )

    $("#notesModal").on('show.bs.modal', function (event) {
        alert('hi')
        /*var button = $(event.relatedTarget) // Button that triggered the modal
        var name = button.data('name')
        alert(name)
        //var notes = button.data('notes')
        var modal = $(this)
        modal.find('.modal-title').text(name + ' Notes')
        //modal.find('.modalNotes').val(notes)*/
    });
  </script>
{% endblock %}