{% extends "base.html" %}

{% block content %}

<a href="{{ url_for('game_add')}}" class="btn btn-success">New</a>
<a href="{{ url_for('game_import')}}" class="btn btn-primary">Import</a>

{% include "list/filter.html" %}
{% include "list/stats.html" %}
{% include "list/edit.html" %}

<form id="gamelist" action="" method="post">
<table id="data" class="table table-striped">
<thead>
    <tr>
    <th><input id="select-all" type="checkbox"></th>
    <th>Game</th>
    <th>Platform</th>
    <th>Completion</th>
    <th>Achievements</th>
    <th>Priority</th>
    <th>Notes</th>
    </tr>
</thead>
<tbody>
    {% for game in all_games %}
    <tr class="game">
        <input form="editform" type="hidden" id="id" name="id" value="{{game.id}}">
        <td>
            <input type="checkbox">
        </td>
        <td>
            <a href="{{ url_for ('game_detail', id=game.id) }}">{{ game.name }}</a>
        </td>
        <td>
            {{ game.platform }}
        </td>
        <td>
            <div class="badge badge-{{ game.completion.name.lower() }}">
                {{ game.completion.name }}
            </div>
        </td>
        <td>
            {% if game.cheev > 0 %}
                <div>
                    <progress id="cheev_prog" max="{{ game.cheev_total }}" value="{{ game.cheev }}"></progress>
                    {{ game.cheev }} / {{ game.cheev_total }}
                    🏆
                </div>
            {% else %}
            N/A
            {% endif %}
        </td>
        <td>
            {{ game.priority.name }}
        </td>
        <td>
            {{ game.notes }}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</form>
{%endblock%}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        paging: false,
        layout: {
            topEnd: null,
            bottomEnd: 'paging'
        },
        order: [[1, 'asc']],
        columns: [
          {orderable: false, searchable: false},
          {orderable: true, searchable: true},
          {orderable: true, searchable: true},
          {orderable: true, searchable: true},
          {orderable: true, searchable: true},
          {orderable: true, searchable: false},
          {orderable: true, searchable: false},
        ],
      });
    });

    $('#select-all').click(function(event) {   
        if(this.checked) {
            $(':checkbox').each(function() {
                this.checked = true;                        
            });
        } else {
            $(':checkbox').each(function() {
                this.checked = false;                       
            });
        }
    }); 
  </script>
{% endblock %}