<button data-toggle="collapse" data-target="#edit" class="btn btn-secondary">Mass Edit</button>
<div id="edit" class="collapse">
    <form id="editform" action="{{url_for ('mass_edit')}}" method="post">
        <div class="form-group">
            <label for="name">Completion</label>
            <select class="form-control" name="completion">
                <option></option>
                {% for type in Completion %}
                    <option value="{{type.value}}">{{type.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="name">Priority</label>
            <select class="form-control" name="priority">
                <option></option>
                {% for type in Priority %}
                    <option value="{{type.value}}">{{type.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="name">Platform</label>
            <input type="text" class="form-control" name="platform">
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Apply</button>
            <a href="{{ url_for('all_games') }}" class="btn btn-danger">Reset</a>
        </div>
    </form>
</div>