{% extends "base.html" %}
{% block content %}
<a href="{{url_for('platform.add')}}" class="btn btn-success">New</a>
<table id="platforms" class="table table-striped">
<thead>
    <tr>
    <th>Name</th>
    <th>Total Games</th>
    <th>Actions</th>
    </tr>
</thead>
<tbody>
    <tr class="platform">
        {% for platform in all_platforms %}
            <td>
                <a href="{{ url_for('gamelist.detail', platform_id=platform.id)}}">{{platform.name}}</a>
            </td>
            <td>
                {{platform.children|length}}
            </td>
            <td>
                <a href="{{ url_for('platform.delete', id=platform.id) }}" class="btn btn-danger">Delete</a>
            </tr>
        {% endfor %}
    </tr>
</tbody>
{% endblock %}