<button data-toggle="collapse" data-target="#edit" class="btn btn-danger">Edit</button>
<div id="edit" class="collapse">
    <form id="editform" action="{{url_for ('user.edit', username=username)}}" method="post">
        <div class="form-group">
            <label for="name">Completion</label>
            <select class="form-control" name="completion">
                <option></option>
                {% for type in Completion %}
                    <option value="{{type.value}}">{{type.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="name">Priority</label>
            <select class="form-control" name="priority">
                <option></option>
                {% for type in Priority %}
                    <option value="{{type.value}}">{{type.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="name">Platform</label>
            <select class="form-control" name="platform">
                <option></option>
                {% for platform in platforms %}
                    <option value="{{platform.id}}">{{ platform.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="name">Mass Actions</label>
            <button type="submit" formaction="{{ url_for('user.edit', username=username, action='delete') }}" class="btn btn-danger">Delete Selected</button>
            </select>
        </div>

        <div>Changes will be applied to all selected game entries!</div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Apply</button>
        </div>
    </form>
</div>