<button data-toggle="collapse" data-target="#filter" class="btn btn-primary">Filter</button>
<div id="filter" class="collapse">
<form action="" method="post">
    <div class="form-group">
        <label for="name">Completion: </label>
        {% for completion in Completion %}
            {% set checked = "checked" if (completion in filter["completion"]) else "" %}
            <input {{checked}} class="btn-check" type="checkbox" id="{{completion.name}}" name="completion" value="{{completion.value}}">
            <label class="btn btn-outline-{{completion.get_color()}}" for="{{completion.name}}">{{completion.name}}</label>
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="name">Priority: </label>
        {% for priority in Priority %}
            {% set checked = "checked" if (priority in filter["priority"]) else "" %}
            <input {{checked}} class="btn-check" type="checkbox" id="{{priority.name}}" name="priority" value="{{priority.value}}">
            <label class="btn btn-outline-secondary" for="{{priority.name}}">{{priority.name}}</label>
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="name">Platform: </label>
        {% for platform in platforms %}
            {% set checked = "checked" if (platform.id in filter["platform_id"]) else "" %}
            <input {{checked}} class="btn-check" type="checkbox" id="{{platform.name}}" name="platform_id" value="{{platform.id}}">
            <label class="btn btn-outline-secondary" for="{{platform.name}}">{{platform.name}}</label>
        {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Apply</button>
        <a href="{{ url_for('user.detail', username=username) }}" class="btn btn-danger">Reset</a>
    </div>
</form>
</div>