{% extends "base.html" %}
{% block content %}
<form id="details" action="" method="post">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(class="form-control") }}
    {{ form.platform.label }} {{ form.platform(class="form-control") }}
    {{ form.completion.label }} {{ form.completion(class="form-control") }}
    {{ form.priority.label }} {{ form.priority(class="form-control") }}
    {{ form.cheev.label }} {{ form.cheev(class="form-control") }}
    {{ form.notes.label }} {{ form.notes(class="form-control") }}
    <input type="hidden" name="id" value="{{ game.id }}" />
</form>
<form id="delete" action="{{ url_for('game.delete', id=game.id) }}" method="post">
    <input type="hidden" name="id" value="{{ game.id }}" />
</form>

<div>
    {% if current_user.id == game.user.id %}
        <button form="details" type="submit" class="btn btn-success">Save</button>
        <button form="delete" type="submit" class="btn btn-danger">Delete</button>
    {% endif %}
    <a href="{{url_for('user.detail', username=game.user.username)}}" class="btn btn-secondary">Back</a>
</div>
{% endblock %}