{% extends "base.html" %}
{% block content %}
<form action="" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" value="{{ game.name }}" required>
    </div>
    <div class="form-group">
        <label for="platform">Platform</label>
        <select class="form-control" name="platform">
            {% for platform in platforms %}
                {% if platform == game.platform %}
                    <option selected value="{{platform.id}}">{{ platform.name }}</option>
                {% else %}
                    <option value="{{platform.id}}">{{ platform.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="completion">Completion</label>
        <select class="form-control" name="completion">
            {% for type in Completion %}
                {% if type == game.completion %}
                    <option selected>{{ type.name }}</option>
                {% else %}
                    <option>{{ type.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="priority">Priority</label>
        <select class="form-control" name="priority">
            {% for type in Priority %}
                {% if type == game.priority %}
                    <option selected>{{ type.name }}</option>
                {% else %}
                    <option>{{ type.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="achievements">Achievements</label>
        <input type="number" name="cheev" class="form-control mb-2" value="{{game.cheev}}" required>
        <input type="number" name="cheev_total" class="form-control mb-2" value="{{game.cheev_total}}" required>
    </div>
    <div class="form-group">
        <label for="notes">Notes</label>
        <textarea name="notes" cols="40" rows="5"class="form-control">{{ game.notes }}</textarea>
    </div>
    <div class="form-group">
        {% if current_user.username == username %}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{{ url_for('game.delete', username=username, id=game.id) }}" class="btn btn-danger">Delete</a>
        {% endif %}
        <a href="{{ url_for('user.detail', username=username) }}" class="btn btn-secondary">Back</a>
    </div>
    <input type="hidden" name="id" value="{{ game.id }}" />
</form>
{% endblock %}