{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('game_add')}}" class="btn btn-success">New</a>
<a href="{{ url_for('game_import')}}" class="btn btn-primary">Import</a>
{% include "filter.html" %}
<table id="data" class="table table-striped">
<thead>
    <tr>
    <th>Game</th>
    <th>Platform</th>
    <th>Completion</th>
    <th>Achievements</th>
    <th>Priority</th>
    <th>Notes</th>
    </tr>
</thead>
<tbody>
    {% for game in all_games %}
    <tr class="game">
        <td>
            <a href="{{ url_for ('game_detail', id=game.id) }}">{{ game.name }}</a>
        </td>
        <td>
            {{ game.platform }}
        </td>
        <td>
            <div class="badge badge-{{ game.completion.name.lower() }}">
                {{ game.completion.name }}
            </div>
        </td>
        <td>
            {% if game.cheev > 0 %}
                <div>
                    <progress id="cheev_prog" max="{{ game.cheev_total }}" value="{{ game.cheev }}"></progress>
                    {{ game.cheev }} / {{ game.cheev_total }}
                    🏆
                </div>
            {% else %}
            N/A
            {% endif %}
        </td>
        <td>
            {{ game.priority.name }}
        </td>
        <td>
            {{ game.notes }}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
{%endblock%}

{% block scripts %}
  <!--script>
    $(document).ready(function () {
      $('#data').DataTable({
        paging: true,
        layout: {
            topEnd: 'searchBuilder',
            bottomEnd: 'paging'
        },
        columns: [
          {orderable: true, searchable: true},
          {orderable: true, searchable: true},
          {orderable: true, searchable: true},
          {orderable: true, searchable: false},
          {orderable: true, searchable: false},
        ],
      });
    });
  </script-->
{% endblock %}